body {
  padding-top: 60px;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 100px;
}

/* NAVBAR */
.custom-navbar {
  background-color: #b00000;
  padding: 8px 20px;
}

.custom-navbar .nav-link {
  color: white !important;
  font-weight: 500;
}

.custom-navbar .nav-link:hover {
  opacity: 0.75;
}

.search-box input {
  border-radius: 50px;
  padding-left: 30px;
  height: 32px;
  border: none;
}

.search-box input::placeholder {
  font-size: 14px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: white;
  margin: 0 10px;
  opacity: 0.7;
}

.search-box {
  position: relative;
}

.search-box::before {
  content: "🔍";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  opacity: 0.8;
}

@media (max-width: 991.98px) {
  .divider {
    display: none !important;
  }
}

/* BIENVENIDXS */
.triple-carousel-container img {
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.triple-main {
  width: 260px;
  max-width: 40%;    
  transform: scale(1.1);
  transition: opacity 0.4s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.triple-small {
  width: 170px;
  max-width: 28%;     
  opacity: 0.8;
}

.triple-main:hover,
.triple-small:hover {
  transform: scale(1.05);
  opacity: 1;
}

@media (max-width: 700px) {

  .triple-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 100%;
    margin-top: 40px;   
    margin-bottom: 20px;
  }

  .triple-main {
    width: 40%;   
    transform: scale(1);
  }

  .triple-small {
    width: 25%;  
    margin-left: -9px;
    margin-right: -9px;
  }

  .triple-carousel-container img {
    height: auto;
    object-fit: contain;
  }
}

/*LISTA DE REPRODUCCION*/
.yt{
  display: block;
  width: auto;
  
}

footer {
    margin-bottom: -49px !important;
}